body {
    background-color: navajowhite;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#poga {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jaunaisUzdevums {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 50px;
    font-size: 26px;
    border-radius: 15px;
    background-color: lightgray;
}

#popUp {
    display: none;
    position: fixed;
    z-index: 1;
    background-color:lightgrey;
    font-size: 30px;
}

#form {
    background-color: lightyellow;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid burlywood ;
    width: 91%;
}